<h1 mat-dialog-title>
  Add new credential
</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        placeholder="Username"
        formControlName="username"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Url"
        formControlName="url"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Type"
        formControlName="type"
        required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    cdkFocusInitial
    (click)="onSubmit()">Add</button>
</div>
