<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Angular Password Manager</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="app-container">
    <ng-template #showLogin>
      <div class="row">
        <mat-card>Please, click button for login.</mat-card>
      </div>
      <div class="row">
        <button
          mat-raised-button
          (click)="doLogin()"
          color="primary">
          Login with Google
        </button>
      </div>
    </ng-template>
    <div *ngIf="isLogged() | async; else showLogin">
      <h1>Hello {{ user$ | async }}!</h1>
      <div class="row">
        <a (click)="doLogout()" href>Logout</a>
      </div>
      <div class="row right">
        <button (click)="openAddModal()" mat-fab color="primary">Add</button>
      </div>
      <app-credentials-table
        (deleteRow)="onDeleteCredential($event)"
        [credentials]="credentials$">
      </app-credentials-table>
    </div>
  </div>
