@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.row {
  margin: 20px 0;
}

table {
  width: 100%;
}

.right {
  float: right;
}

mat-form-field {
  width: 100%;
}

